<div>
  <div class="routing-container">
    <div></div>
    <div class="headers-content">
      <div *ngFor="let story of storyList">
        <div (click)="goToStory(story.id)" class="header-content-container upper-header primary-color click-header">
          <div></div>
          <div class="header-container">
            <div class="header-left-item">
              <h6>{{story.title}}</h6>
            </div>
            <div>
            </div>
            <div class="headerbar-item header-right-item">
              <button (click)="removeStory(story.id)" class="secondary-button">Remove</button>
              <button (click)="navigateToUpload(story.id)" class="secondary-button">Edit</button>
            </div>
          </div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="middle-content-container content-container">
      <div></div>
      <div>
        <h3>{{ (user | async ).username}}</h3>
        <button (click)="logout()" class="secondary-button">Logout</button>
        <!-- <button (click)="deleteAccount()" class="secondary-button">Delete Account</button> -->
      </div>
      <div></div>
    </div>
  </div>
