<div class="routing-container">
  <div></div>
  <form [formGroup]="storyForm" (ngSubmit)="onSubmit()">
    <div class="editMetaData content-container" *ngIf="selectedChapter === -1">
      <div></div>
      <div class="editMetaDataForm">
        <label for="title">
          <caption>Title</caption>
        </label>
        <input class="inputField" type="text" name="title" formControlName="title">
        <label for="description">
          <caption>Description</caption>
        </label>
        <input class="inputField" type="text" name="description" formControlName="description">
        <label for="author">
          <caption>Author</caption>
        </label>
        <input class="inputField" type="text" name="author" formControlName="author">
        <button style="float: right" (click)="selectedChapter = 0" class="secondary-button no-select">Close</button>
      </div>
      <div></div>
    </div>
    <div></div>
    <div formArrayName="chapters" class="routing-container">
      <div></div>
      <div class="routing-container">
        <div #upperHeader class="headers-content header-max">
          <div *ngIf="selectedChapter !== -1" class="header-content-container upper-header primary-color click-header"
            (click)="selectedChapter = -1;">
            <div></div>
            <div class="header-container">
              <div class="header-left-item">
                <h6>{{this.storyForm.value.title}}</h6>
              </div>
              <div></div>
              <div class="headerbar-item header-right-item">
                <div></div>
                <!-- <div></div><button class="secondary-button">Edit</button> -->
              </div>
            </div>
            <div></div>
          </div>
          <div *ngFor="let chapter of chapters.controls; let i = index" [formGroupName]="i">
            <div class="header-content-container upper-header click-header" *ngIf="selectedChapter > i"
              [class.overflowGrid]="checkOverflow(upperHeader)" (click)="selectedChapter = i; editMetaData = false">
              <div></div>
              <div class="header-container">
                <div class="header-left-item">
                  <h6>{{chapter.value.name}}</h6>
                </div>
                <div>
                </div>
                <div class="headerbar-item header-right-item">
                  <!-- <button class="secondary-button">Edit</button> -->
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </div>

        <div>
          <div *ngIf="selectedChapter !== -1">
            <div *ngFor="let chapter of chapters.controls; let i = index" [formGroupName]="i">
              <div class="middle-content-container content-container" *ngIf="selectedChapter == i">
                <div class="side-container-left">
                  <div>
                    {{storyForm.value.title}}
                    <!-- <label class="secondary-button-label no-select" for="story-title-input">Edit</label> -->
                  </div>
                </div>
                <div>
                  <input placeholder="Chapter Title..." class="input-field" type="text" style="margin-bottom: 8px;"
                    formControlName="name">
                  <div>
                    <quill-editor [placeholder]="" [modules]="quillConfiguration" class="quill-editor"
                      formControlName="text">
                    </quill-editor>
                  </div>
                  <!-- <button [class.toggled]="preview" style="float: right" (click)="preview = !preview"
                  class="secondary-button no-select">Preview</button>
                <button (click)="removeChapter(i)">Remove</button> -->
                </div>
                <div></div>
              </div>
            </div>
          </div>
        </div>
        <div class="headers-content header-max">
          <div *ngFor="let chapter of chapters.controls; let i = index" [formGroupName]="i">
            <div class="header-content-container bottom-header click-header" *ngIf="selectedChapter < i"
              (click)="selectedChapter = i; editMetaData = false">
              <div></div>
              <div class="header-container">
                <div class="header-left-item">
                  <h6>{{chapter.value.name}}</h6>
                </div>
                <div>
                </div>
                <div class="headerbar-item header-right-item">
                  <!-- <button class="secondary-button">Edit</button> -->
                </div>
              </div>
              <div></div>
            </div>
          </div>
        </div>
      </div>
      <div class="header-content-container bottom-header">
        <div></div>
        <div class="header-container">
          <div class="header-left-item">
            <button (click)="addChapter(); selectedChapter = chapterCount-1" class="primary-button">+ Add
              chapter</button>
          </div>
          <div>
          </div>
          <div class="header-right-item">
            <button class="primary-button-stroked" type="submit">Submit Story</button>
          </div>
        </div>
        <div></div>
      </div>
    </div>
  </form>
</div>
