form {
    display: flex;
    flex-direction: column;
}

.input-title-container {
    padding: 16px 0px;
}

.input-title {
    border: none;
    border-bottom: black solid 1px;
    width: 50%;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
    margin-right: 8px;
}

.inline-button-container {
    display: inline;
}
