
.chapter {
    p {
        height: 0px;
        width: 0px;
        text-justify: inter-word;
        margin: 0px;
        line-height: 0.0008em;
        letter-spacing: 1em;
        text-align: center;
        font-size: 0.9em;
        overflow: hidden;
        transition: ease-in-out 0.6s;
    }
    b {
        transition: ease-in-out 0.6s;
    }
    a {
        cursor: pointer;
    }
    border-bottom: solid black 0.5px;
    padding: 8px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
}

.chapter:hover {
    //animation: shake 0.5s infinite;
    padding-bottom: 16px;
}

.show-paragraph {
    p {
        padding-top: 16px;
        width: 100%;
        text-align: justify;
        line-height: 1.5em;
        letter-spacing: normal;
        animation: reveal 0.6s forwards;
        transition: ease-in-out 0.6s;
    }
    b {
        font-weight: normal;
        font-size: 32px;
        transition: ease-in-out 0.6s;
    }
    //animation: reveal 1s infinite;
    //transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s ;
}

@keyframes chapter-hover {
    0% {
      padding-bottom: 8px;
    }
    50% {
      padding-bottom: 16px;
    }
    100% {
      padding-bottom: 8px;
    }
}

@keyframes reveal {
    0% {
        height: 0px;
        width: 0px;
    }
    50% {
        height: 30%;
    }
    100% {
        width: 100%;
        height: 100%;
    }
}