<div>
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h3>Log in</h3>
            <label for="username-input">Email</label>
            <input formControlName="username" type="email" placeholder="example@mail.com" name="username-input">
            <label for="password-input">Password</label>
            <input formControlName="password" type="text" placeholder="m**password*isn***my*m*ma'$*name" name="username-input">
            <button type="submit">SUBMIT</button>
            <br>
            <button [routerLink]="['/sign-up']" routerLinkActive="router-link-active" >SIGN UP</button>
        </form>
    </div>
</div>
