/* You can add global styles to this file, and also import other style files */
::-webkit-scrollbar {
    display: none;
}

@import './global_styling/vertical-layout.scss';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

$primary-color: #FAF3EF;
$secondary-color: #FFFFFF;

body {
    //background-color:#FAF3EA;
    margin: 0px;
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

//******** GRID BASELINE *******//

.page-container {
    display: grid;
    //grid-template-columns:  minmax(0px, 100%) 655px minmax(0px, 100%);
    grid-template-rows: 37px 1fr;
    height: 100vh;
    align-self: stretch;
}

.routing-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    align-content: stretch;    
}

.content-container {
    display: grid;
    grid-template-columns: minmax(0, 100%) 450px minmax(0, 100%);
    align-self: stretch;
    //border-bottom: black solid 1px;
}

.side-container-left {
    text-align: right;
    padding: 16px;
    color: grey;
}

.middle-content-container {
    padding: 16px 0px;
}

//*********** HEADERS ************//

.header-container {
    display: grid;
    width: 100%;
    grid-template-columns:  auto 1fr 160px;
    //padding: 8px 0px;
}
.headers-content {
    //display: grid;
    //grid-auto-rows: 37px;
    animation: bottom-top 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.header-max {
    max-height: 185px;
    overflow: scroll;
}
.header-left-item, .header-left-item:last-child {
    display: grid;
    justify-content: start;
    align-items: center;
    gap: 3px;
}    
.header-center-item {
    place-items: center;
}
.header-right-item {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: end;
    align-items: center;

    .primary-button, .secondary-button{
        margin-left: 12px;
    }
}
// .header-right-item:last-child {
//     padding-right: 16px;
// }
.headerbar-item {
    display: grid
}
.header-content-container {
    height: 36px;
    display: grid;
    grid-template-columns: minmax(0, 100%) 450px minmax(0, 100%);
    h6 {
        font-style: italic;
        margin: 0px;
    }
}
.header-content-container:hover {
    h6 {
        text-decoration: underline;
    }
}
.top-header {
    border-bottom: black solid 1px;
}

.bottom-header {
    border-top: black solid 1px;
    align-self: end;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}

.upper-header {
    border-bottom: black solid 1px;
    align-self: start;
}

.click-header {
    cursor: pointer;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
}
.click-header:hover {
    border-left: black solid 3px;
}


//****** PRIMARY BUTTON ******//

.primary-button {
    font-size: 14px;
    font-family: 'neue-haas-grotesk-display', Times, serif;
    font-weight: 700;
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.primary-button-stroked {
    font-size: 14px;
    font-family: 'neue-haas-grotesk-display', Times, serif;
    font-weight: 700;
    background: black;
    color: white;
    border: none;
    padding: 3px 6px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    border-radius: 3px;
}
.primary-button-stroked:hover {
    background: white;
    color: black;
    //border: black solid 3px;
    //border-style:;
}

.primary-button:hover {
    font-family: 'neue-haas-grotesk-display', Times, serif;
    text-decoration: underline;
   // background: $primary-color;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

.primary-button-container {
    display: grid;
    place-items: center;
}

//****** SECONDARY BUTTON ******//

.secondary-button, .secondary-button-label {
    cursor: pointer;
    font-size: 14px;
    font-family: 'neue-haas-grotesk-display', Times, serif;
    font-weight: 500;
    background: none;
    border: none;
    padding: 0px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
    text-decoration: none;
}

.secondary-button:hover, .secondary-button-label:hover {
    font-family: 'neue-haas-grotesk-display', Times, serif;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
    text-decoration: underline;
    //font-weight: 100;
}

.button-container {
    display: grid;
    place-items: center;
}

.toggled {
    background-color: rgb(0, 0, 0, 30%);
}

//****** DISABLED BUTTON ******//

.disabled {
    color: #5b5b5b;
    letter-spacing: normal;
    text-decoration: line-through;
}

//****** CANCEL BUTTON ******//

.cancel-button {
    width: 1em;
}

//****** TYPOGRAPHIE ******//

h1, h2, h3, h6, h4, h5, b, sub {
    font-family: 'PT Serif', serif;
}
caption, button {
    font-family: 'neue-haas-grotesk-display';
}
p, small {
    font-family: 'PT Serif', serif;
}
h1 {
    font-size: 72px;
    font-weight: 100;
}
h2 {
    font-size: 60px;
    font-weight: 100;
}
h3 {
    font-size: 32px;
    font-weight: 100;
}
h4 {
    font-size: 16px;
    font-weight: 600;
}
h5 {
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}
h6, b {
    font-weight: 600;
    font-size: 14px;
}
sub {
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
}
p {
    margin: 0px;
    font-size: 14px;
    font-weight: 200;
}
small {
    font-size: 12px;
    font-weight: 200;
}
caption {
    display: inline;
    font-size: 10px;
    font-weight: 100;
    font-style: italic;
}

//****** INPUT UI STYLING ******//

input {
    font-family: 'PT Serif', serif;
}

.input-field {
    border: none;
    border-bottom: black solid 1px;
    width: 99%;
    font-size: 24px;
    font-weight: 600;
    font-style: italic;
}

.input-field-small {
    border: none;
    border-bottom: black solid 1px;
    width: 99%;
    // font-size: 14px;
    font-style: italic;
    margin-right: 8px;
}

.validationError {
    border: red solid 1px !important;
}

.error {
    margin-top: 12px;
    padding: 12px;
    color: red;
    border-radius: 4px;
    border: red solid 1px;
    text-align: center;
}

.validationGoodness {
    border: green solid 1px !important;
}

textarea {
    font-family: 'PT Serif', serif;
    font-size: 12px;
}

.inputField {
    border-radius: 1px;
    border: black solid 1px;
}

.inputField::-webkit-input-placeholder {
    font-family: 'PT Serif', serif;
    font-size: 12px;
    font-weight: 100;
}
  
.inputField:-ms-input-placeholder {
    font-family: 'PT Serif', serif;
    font-size: 12px;
    font-weight: 100;
}
  
.inputField:-moz-placeholder {
    font-family: 'PT Serif', serif;
    font-size: 12px;
    font-weight: 100;
}
  
.inputField::-moz-placeholder {
    font-family: 'PT Serif', serif;
    font-size: 12px;
    font-weight: 100;
}

//****** FORM COMPONENTS ******//
.form-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 50%);
}

form {
    background-color: $secondary-color;

    h3 {
        margin-top: 0px;
    }
}

//****** TEXT EDITOR *******//

.quill-editor {
    min-height: 120px;
}

/* Set dropdown font-families */

[quill-editor-toolbar] .ql-font span[data-label="PT serif"]::before {
    font-family: "PT serif";
  }
  
  [quill-editor-toolbar] .ql-font span[data-label="Neue Haas Grotesk"]::before {
    font-family: "neue-haas-grotesk-display";
  }
  
  [quill-editor-toolbar] .ql-font span[data-label="Pt Sans"]::before {
    font-family: "PT sans";
  }

  .ql-font-PT-Serif {
    font-family: "PT Serif";
  }
  
  .ql-font-neue-haas-grotesk-display {
    font-family: "neue-haas-grotesk-display";
  }
  
  .ql-font-PT-Sans {
    font-family: "PT Sans";
  }
  
  //************NO SELECT************//

  .no-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }


//***************COLOR************//
.primary-color {
    background-color: $primary-color;
}


//***************ANIMATION************//

@keyframes bottom-top {
    0% {
        height: 0px;
    }
    100% {
        height: 100%
    }
}