<div class="page-container">
        <div class="header-content-container top-header" style="position: sticky;">
            <div>
            </div>
                <div class="header-container">
                    <div class="headerbar-item header-left-item">
                        <button class="primary-button" [routerLink]="['/']">De<span style="font-family: PT Serif; font-style: italic; font-weight: 400;">Paulus1</span>Dienst <span *ngIf="notHome">← back</span></button>
                        <!-- <button *ngIf="!menuToggle" (click)="menuToggle = !menuToggle" class="secondary-button">Index</button> -->
                    </div>
                    <div class="headerbar-item header-center-item">
                    </div>
                    <div class="headerbar-item header-right-item">
                        <button *ngIf="isLoggedIn" [routerLink]="['/profile', (currentUser | async).id]" class="secondary-button">{{ (currentUser | async ).username}}</button>
                        <button *ngIf="!isLoggedIn" [routerLink]="['/log-in']" class="primary-button">Log in</button>
                        <button *ngIf="!isLoggedIn" [routerLink]="['/sign-up']" class="secondary-button">Sign up</button>
                    </div>
                </div>
            <div>
            </div>
        </div>
        
        <!-- <div *ngIf="menuToggle && isLoggedIn" class="nav-menu">
            <div class="navbar-item nav-center-item">
                <button class="secondary-button" [routerLink]="['/upload']" routerLinkActive="router-link-active" >Upload</button>
            </div>
            <div class="navbar-item nav-center-item">
                <button class="secondary-button" (click)="logout()">Log out</button>
            </div>
            <div class="navbar-item nav-center-item">
                <button class="secondary-button disabled" disabled>Search</button>
            </div>
        </div> -->
            <!-- <app-login (outputValue)="loginFormUpdate($event)" *ngIf="loginPageRequest"></app-login> -->
            <div>
                <router-outlet></router-outlet>
            </div>
</div>
