.nav-bar {
    display: grid;
    width: 100%;
    grid-template-columns:  80px 1fr 160px;
    padding: 8px 0px;

    h4{
        margin: 0px;
        font-family: 'Times New Roman', Times, serif;
    }
}

.nav-left-item {
    grid-template-columns: 160fr 160fr;
    place-items: center start;
}    
.nav-center-item {
    place-items: center;
}
.nav-right-item {
    grid-template-columns: 1fr 1fr;
    place-items: center end;
}
.navbar-item {
    display: grid;
}

.nav-menu {
    display: grid;
    grid-template-columns:  80px 1fr 80px;
    padding: 16px 0px;
    border-bottom: black solid 0.5px;
    animation: menu-reveal 0.3s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes menu-reveal {
    0% {
        height: 0px;
    }
      50% {
        height: 16px;
    }
      100% {
        height: 14px;
    }
}
