<div>
    <div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h3>Sign up</h3>
            <label for="firstname-input"><caption>Firstname</caption></label>
            <input formControlName="firstname" type="text" placeholder="firstname" name="firstname-input">
            <label for="lastname-input"><caption>Lastname</caption></label>
            <input formControlName="lastname" type="text" placeholder="lastname" name="lastname-input">
            <label for="username-input"><caption>Email</caption></label>
            <input formControlName="email" type="email" placeholder="example@mail.com" name="username-input">
            <label for="password-input"><caption>Password</caption></label>
            <input formControlName="password" type="password" placeholder="********" name="password-input">
            <label  for="repeat-password-input"><caption style="width: 120px;  text-align: left">Repeat password</caption></label>
            <input formControlName="repeatPassword" type="password" placeholder="********" name="repeat-password-input">
            <div>
                <button style="float: right;" class="primary-button-stroked" type="submit">Submit</button>
            </div>
            <div class="button-container">
                <button class="secondary-button" [routerLink]="['/log-in']" routerLinkActive="router-link-active" >Already have an account?</button>
            </div>
        </form>
    </div>
</div>
